apiVersion: batch/v1
kind: Job
metadata:
  name: reducer-1
spec:
  manualSelector: true
  selector:
    matchLabels:
      app: reducer-1
  template:
    metadata:
      labels:
        app: reducer-1
    spec:
      hostname: reducer-1
      restartPolicy: "OnFailure"
      containers:
      - name: reducer-1
        args: ["-role=1", "-id=0"]
        image: gomr
        ports:
        - name: mr-port
          containerPort: 3000